<ion-header>
  <ion-toolbar>
    <ion-title>Game Preview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="welcome-box">
  <p>{{ welcomeMessage }}</p>

  <canvas #gameCanvas width="300" height="300"></canvas>

  <h2>Available Games</h2>

  <ion-card *ngFor="let game of games" (click)="goToGameDetail(game.id)">
  <ion-card-header>
    <ion-card-title>{{ game.name }}</ion-card-title>
    <ion-card-subtitle>{{ game.genre }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <img [src]="game.thumbnailUrl" alt="{{ game.name }} thumbnail" />
  </ion-card-content>
</ion-card>

</ion-content>
