<ion-header>
  <ion-toolbar>
    <ion-title class="orbitron-title">{{ game?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="!game" name="crescent"></ion-spinner>

  <div class="game-detail" *ngIf="game">
    <img [src]="game.thumbnailUrl" alt="{{ game.name }} thumbnail" (error)="onImageError($event)" />
    <h2>{{ game.genre }}</h2>
    <p>{{ game.description }}</p>
  </div>

  <ion-button fill="clear" routerLink="/games">
    ← Back to Dashboard
  </ion-button>
</ion-content>

